body {
  /* height: 3000px; */
}

.w-960 {
  width: 960px;
  margin: 0 auto;
}

.topic-blue {
  height: 48px;
  padding-left: 22px;
  margin-bottom: 30px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  color: #183389;
  background: url(../img/images/sub-title-intro.png) no-repeat 0px 6px/140px;
}

/* 以上为通用的属性 */

.page-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 74px;
  color: #333;
}

.header-user {
  align-items: center;
  display: flex;
  font-size: 12px;
}

.header-user .seprete {
  width: 1px;
  height: 12px;
  margin: 0 10px;
  background-color: #333;
}

.header-user__login,
.header-user__logup {
  cursor: pointer;
}

.header-user__login:hover,
.header-user__logup:hover {
  color: #000;
}

.banner-section {
  display: flex;
  height: 458px;
  box-sizing: border-box;
  color: #fff;
  background: url(../img/images/banner.jpg) no-repeat center/1920px 458px;
}

.banner-section__text {
  width: 100%;
  margin-top: 160px;
  font-size: 40px;
  text-align: center;
}

.navigator-section {
  height: 70px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.navigator-container {
  height: 70px;
  width: 100%;
  background-color: #153188;
  z-index: 10;
}

.navigator-section.fixed .navigator-container {
  position: fixed;
  top: 0;
}

.navigator-list {
  display: flex;
  height: 70px;
}


.navigator-item {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.navigator-item:hover {
  background-color: rgba(255, 255, 255, .2);
}

.navigator-item.active {
  background-color: rgba(255, 255, 255, .2);
}

.introduction-section {
  margin-top: 60px;
}

.introduction-topic {
  width: 140px;
}

.introduction-content {
  font-size: 14px;
  line-height: 30px;
}

.onlinecourses-section {
  margin-top: 58px;
}

.onlinecourses-topic {
  width: 150px;
  margin-bottom: 30px;
  background-image: url(../img/images/sub-title-course.jpg);
}

.onlinecourses-video {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 538px;
  background: url(../img/images/v.jpg);
  cursor: pointer;
}

.onlinecourses-video video {
  width: 960px;
  /* 初始隐藏起来,点击后,更改该属性 */
  display: none;
}

.onlinecourses-video__control {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all .5s ease-in;
}

.onlinecourses-video__control.playing {
  opacity: 0;
}

.onlinecourses-video__control.playing+.onlinecourses-video__close {
  opacity: 0;
}

.onlinecourses-video__control-pause {
  margin-left: 10px;
  border-left: 24px solid #1965C5;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.onlinecourses-video__close {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 24px;
  height: 24px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  transition: all .6s;
}

.onlinecourses-video__close:hover {
  color: #666;
  background-color: #fff;
}

.onlinecourses-course {
  margin-top: 26px;
}

.onlinecourses-course__title {
  font-size: 18px;
  color: #333;
}

.onlinecourses-course__about {
  gap: 15px;
  display: flex;
  margin-top: 14px;
  font-size: 12px;
  color: #999;
}

.onlinecourses-course__box {
  display: flex;
  margin-top: 20px;
}

.onlinecourses-course__catalogue {
  width: 700px;
}

.catalogue-chapter {
  transition: height .4s;
  overflow: hidden;
}

.catalogue-chapter__title {
  align-items: center;
  display: flex;
  height: 40px;
  padding: 0 20px;
  background-color: #e4e4e4;
}

.catalogue-chapter__title-arrow {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(../img/images/arrow-icon.png) no-repeat center/14px;
  transform: rotate(0deg);
  transition: transform .8s;
  cursor: pointer;

}

.catalogue-chapter.collapsed .catalogue-chapter__title-arrow {
  transform: rotate(-90deg);
}

.catalogue-chapter__title-text {
  flex: 1;
  font-size: 15px;
  line-height: 14px;
  font-weight: 450;
  cursor: pointer;
}

.catalogue-chapter__title-download {
  width: 18px;
  height: 18px;
  background: url(../img/images/download-icon.png) no-repeat center/18px;
}

.catalogue-chapter__title-download:hover {
  background-image: url(../img/images/download-icon-hover.png);
}

.catalogue-chapter__section {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 40px;
  padding: 0 20px 0 50px;
  font-size: 12px;
  border-bottom: 1px solid #f5f5f5;
}

.catalogue-chapter__section:last-child {
  border-bottom: none;
}

.catalogue-chapter__section-title {
  font-size: 12px;
}

.catalogue-chapter__section-title:hover {
  color: #009DF7;
  cursor: pointer;
}

.onlinecourses-course_rightbox {
  flex: 1;
  margin-left: 30px;
}

.onlinecourses-course__info {
  padding-bottom: 18px;
  line-height: 18px;
  border-bottom: 1px solid #f5f5f5;
}

.onlinecourses-course__info>* {
  margin-top: 20px;
}

.onlinecourses-course__info .info-title {
  font-size: 12px;
  color: #999;
}

.onlinecourses-course__info .info-text {
  font-size: 12px;
  color: #666;
}

.onlinecourses-info__title {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

.onlinecourses-info__suit {
  margin-top: 18px;
}

.onlinecourses-info__suit-title {
  margin-bottom: 9px;
}

.onlinecourses-info__updated,
.onlinecourses-info__num {
  gap: 10px;
  display: flex;
}

.onlinecourses-info__num-icon {
  width: 170px;
  height: 45px;
  margin-top: 10px;
  background: url(../img/images/logo_qua.png) no-repeat center/170px 45px;
}

.onlinecourses-info__tags-list {
  flex-wrap: wrap;
  display: flex;
  margin-top: 10px;
}

.onlinecourses-info__tags-item {
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 12px;
  background-color: #f7f7f7;
  border-radius: 2px;
}

.onlinecourses-contact__title {
  margin: 16px 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.onlinecourses-contact__item {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  color: #666;
}

.onlinecourses-contact__item-icon {
  width: 50px;
  height: 50px;
  margin-right: 6px;
  background: url(../img/images/icon_weibo.png) no-repeat center;
}

.qq .onlinecourses-contact__item-icon {
  background-image: url(../img/images/icon_qq.png);
}

.onlinecourses-contact__item-text {
  font-size: 12px;
}

.onlinecourses-contact__item-text-top {
  margin-bottom: 8px;
}

.onlinecourses-contact__item-text-bottom {
  display: flex;
}

.onlinecourses-contact__item-text-item {
  position: relative;
  padding: 5px 12px;
  margin-right: 10px;
  line-height: 12px;
  color: #fff;
  background-color: #00A8FF;
  border-radius: 2px;
  cursor: pointer;
}

.qrcode-popup.text {
  position: absolute;
  display: none;
}

.qrcode-popup.img {
  position: absolute;
  display: none;
  top: 28px;
  left: -15px;
  z-index: 9;
  width: 90px;
  height: 118px;
  background: url(../img/images/qrcode-weixin.png) no-repeat center/90px 118px;
}

.onlinecourses-contact__item-text-item:hover .qrcode-popup.img {
  display: block;
}

.teachers-topic {
  width: 140px;
  height: 52px;
  background: url(../img/images/sub-title-teacher.jpg) no-repeat center;
}

.teachers-box {
  align-items: center;
  display: flex;
  /* height: 192px; */
  height: 210px;
  margin-top: 50px;
}

.teachers-prev,
.teachers-next {
  flex-shrink: 0;
  width: 25px;
  height: 40px;
  background: url(../img/images/arrow_left.png) no-repeat center/25px 40px;
  cursor: pointer;
}

.teachers-next {
  transform: rotate(180deg);
}

.teachers-prev:hover,
.teachers-next:hover {
  background-image: url(../img/images/arrow_right-hover.png);
  transform: rotate(0deg);
}

.teachers-prev:hover {
  transform: rotate(180deg);
}

.teachers-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.teachers-list {
  position: relative;
  left: 0px;
  display: flex;
  justify-content: flex-start;
  /* 使用js替换，灵活性更强 */
  /* transition: all .5s; */
  transition-property: left;
}

.teachers-item {
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 196px;
  font-size: 12px;
  line-height: 16px;
  margin-right: 42px;
}

.teachers-item__portrait {
  width: 80px;
  height: 80px;
  background: url(../img/images/t_1.jpg) no-repeat center;
}

.xms .teachers-item__portrait {
  background-image: url(../img/images/t_2.jpg);
}

.zqq .teachers-item__portrait {
  background-image: url(../img/images/t_3.jpg);
}

.wqm .teachers-item__portrait {
  background-image: url(../img/images/t_4.jpg);
}

.zj .teachers-item__portrait {
  background-image: url(../img/images/t_5.jpg);
}

.teachers-item__name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 14px 0 10px;
}

.teachers-item__title {
  color: #999;
  font-size: 12px;
}

.teachers-item__info {
  margin-top: 10px;
}

.products-topic {
  width: 320px;
  height: 50px;
  margin: 60px 0 30px;
  background: url(../img/images/sub-title-410.png) no-repeat center/320px 50px;
}

.products-content {
  gap: 20px;
  display: flex;
  padding-bottom: 30px;
}

.products-left {
  flex-shrink: 0;
  flex-basis: 300px;
  width: 300px;
  height: 210px;
  background: url(../img/images/img_1.jpg) no-repeat center/300px 210px;
}

.products-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 24px;
  color: #333;
}

.products-desc {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.products-actions {
  display: flex;
}

.prodcts-action {
  padding: 12px 35px;
  line-height: 16px;
  border-radius: 2px;
  cursor: pointer;
}

.prodcts-action.buy {
  margin-right: 16px;
  box-sizing: border-box;
  color: #fff;
  background-color: #00A8FF;
}

.prodcts-action.more {
  color: #00A8FF;
  background-color: #fff;
  border: 1px solid #00A8FF;
}

.products-recommend {
  gap: 10px;
  align-items: center;
  display: flex;
  margin-top: 24px;
}

.products-recommend__title {
  font-size: 16px;
  line-height: 16px;
  color: #666;
}

.products-recommend__product {
  padding: 8px 18px;
  font-size: 14px;
  color: #1C7C89;
  background-color: #CAEAEF;
  border-radius: 16px;
  cursor: pointer;
}

.products-links {
  gap: 30px;
  display: flex;
  height: 120px;
  padding: 32px 0;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
}

.products-link {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  background: url(../img/images/bg_red.jpg);
}

.products-link:nth-child(2) {
  background: url(../img/images/bg_ora.jpg);
}

.products-link:nth-child(3) {
  background: url(../img/images/bg_blue.jpg);
}

.about-section {
  margin-top: 30px;
}

.about-topic {
  width: 210px;
  height: 50px;
  background: url(../img/images/about_title.jpg) no-repeat center;
}

.about-links {
  padding: 50px 0 120px;
  display: flex;
  justify-content: space-around;
}

.about-link {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.about-link__cover {
  width: 148px;
  height: 148px;
  background: url(../img/images/about_qualcomm.jpg) no-repeat center;
  cursor: pointer;
}

.about-link__cover:hover {
  opacity: .6;
}

.about-link:nth-child(2) .about-link__cover {
  background-image: url(../img/images/about_weibo.jpg);
}

.about-link:nth-child(3) .about-link__cover {
  background-image: url(../img/images/about_qq.jpg);
}

.about-link__title {
  margin: 22px 0 12px;
  font-size: 14px;
  color: #333;
}

.about-link__desc {
  font-size: 12px;
  line-height: 12px;
  color: #999;
}

.about-link__join {
  padding: 8px 18px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  background-color: #00A8FF;
  /* background-color: red; */
  border-radius: 2px;
  cursor: pointer;
}